<div th:fragment="content">
  <a th:href="@{/formAdmin}" class="btn btn-primary">Create Table</a>
  This is admin table managment page
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Table ID: </th>
        <th scope="col">Customer Name:</th>
        <th scope="col">Customer Phone number:</th>
        <th scope="col">Reservation time:</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="reservations : ${reservation}">
        <td th:text="${reservations.getTableId()}"></td>
        <td th:text="${reservations.getCustomerName()}"></td>
        <td th:text="${reservations.getPhoneNumber()}"></td>
        <td th:text="${reservations.getTime()}"></td>
        <td>
          <a th:href="@{/update/{id}(id=${reservations.id})}"class="btn btn-warning">Update</a>
          <a th:href="@{/delete/{id}(id=${reservations.id})}" class="btn btn-danger">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>